.mt-30 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.b-transparent {
  background-color: transparent !important;
}

.shandow-none {
  box-shadow: none !important;
}

.h-90 {
  height: 9rem !important;
}

.b-red {
  background-color: crimson !important;
}

.d-flex {
  display: flex !important;
}

.j-c-between {
  justify-content: space-between;
}

