.product {
    background-color:  $color-background-1;
    padding: 4rem 8rem;
    
    &__container {
        display: flex;
    }

    &__container-description {
        width: 98.9rem;
    }

    &__left {
        flex: 1;
        padding: 1.5rem;
    }

    &__img-container {
        cursor: pointer;
        margin-bottom: 1.5rem;

        img {
            width: 100%;
        }
    }

    &__right {
        flex: 1;
        padding: 1.5rem;
    }

    &__center {
        width: 20rem;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
            font-size: 1.4rem;
            text-align: center;
            margin-bottom: 1.5rem;
            color: $color-white-1;
        }
    }

    &__product {

    }

    &__description {
        color: $color-white-1;

        strong {
            font-size: 2rem;
            margin-bottom: 1.5rem;
            display: block;
            
        }

        p {
            font-size: 1.4rem;
            margin-bottom: 1.5rem;
        }
    }
    
    
    &__evaluation {
        display: flex;
        justify-content: space-between;
        padding-right: 5rem;
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
    }

    &__stars {
        i {
            color: $color-red-1;
        }
    }

    &__price {
        font-size: 1.4rem;

        span {
            font-weight: bold;
        }
    }

    &__others {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__other {
        border: .2rem solid #f1f1f1;
        border-radius: .3rem;
        overflow: hidden;
        margin-right: 1rem;
        cursor: pointer;
        transition: all .3s;

        img {
            width: 4rem;
            height: 4rem;
        }
    }

    &__other:hover {
        border: .2rem solid crimson;
    }

    &__oplus {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5rem;
    }

    &__plus {
        border: .2rem solid #f1f1f1;
        border-radius: .3rem;
        overflow: hidden;
        margin-right: 1rem;
        cursor: pointer;
        transition: all .3s;
        padding: .2rem;

        img {
            width: 4rem;
            height: 4rem;
        }
    }

    &__plus:active {
        border: .2rem solid $color-red-1;
    }

    &__options {
        background-color: $color-background-3;
        display: flex;

        a {
            font-size: 1.4rem;
            flex: 1;
            padding: .5rem 0;
            color: $color-white-1;
            font-weight: bold;
            text-align: center;
            transition: all .5s;
        }

        a:hover {
            background-color: crimson;
        }

    }

    &__option-content {
        font-size: 1.4rem;
        color: $color-white-1;
        padding: 1.5rem;
        
        p {
            text-align: justify;
        }
    }

    &__description2 {

    }

    &__commentaries {
        color: $color-white-1;

        h5 {
            font-size: 1.8rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
        }
    }

    &__valoration-container {
        display: flex;
        align-items: center;
        border-bottom: .1rem solid $color-background-1;
        padding-bottom: 1rem;
    }

    &__valoration-left {
        width: 45%;
    }

    &__valoration-right {
        padding: 0 2rem;
    }

    &__valoration {
        display: flex;
        align-items: center;
        margin-bottom: .5rem;

        span {
            width: 8rem;
        }
    }

    &__valoration-line {
        width: 16rem;
        background-color: #f1f1f1;
        height: .2rem;
        border-radius: .1rem;
        overflow: hidden;
        margin-right: 1.5rem;
    }

    &__valoration-line-color {
        height: 100%;
        background-color: crimson;
    }

    &__comentary {
        display: flex;
        padding: 1.5rem 0;
        border-bottom: .1rem solid $color-background-1;
    }

    &__comentary-left {
        margin-right: 1.5rem;
        display: flex;
        align-items: center;
        flex-direction: column;

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            margin-bottom: .5rem;
        }
    }

    &__comentary-text {
        text-align: justify;
    }

    &__container-description {
        background-color: $color-background-2;
    }

    &__wishe {
        a {
            background-color: crimson;
            color: #fff;
            font-size: 1.3rem;
            padding: 1rem 1.5rem;
            border-radius: .5rem;
        }
    }
}