/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop
$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop
ORDER: Base + typography > general layout + grid > page layout > components
1em = 16px
*/

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

[v-cloak] {
  display: none;
}

.text-title {
  font-size: 3rem;
  color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}

.mt-30 {
  margin-top: 3rem;
}

.b-transparent {
  background-color: transparent !important;
}

.shandow-none {
  box-shadow: none !important;
}

.h-90 {
  height: 9rem !important;
}

.banner {
  margin-top: 7rem;
  background-color: #121212;
  height: 30rem;
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #282828;
  height: 7rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 2.4rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
}

.header__container-left {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  color: #fff;
}

.header__icon-bar {
  font-size: 1.8rem;
  margin-right: 1rem;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: flex;
  border-radius: 50%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__icon-bar:hover {
  background-color: #c00;
}

.header__logo {
  font-size: 3rem;
  margin: 1rem;
  color: #fff;
}

.header__form {
  display: -webkit-box;
  display: flex;
  background-color: #121212;
  border-radius: 0.3rem;
  overflow: hidden;
}

.header__form-btn {
  border: none;
  background-color: transparent;
  padding: 1rem;
}

.header__form-btn i {
  color: #fff;
}

.header__form-input {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem 0.8rem 0;
  outline: none;
  width: 40rem;
}

.header__btn-auth {
  background-color: #fff;
  color: #282828;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  font-weight: 900;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__btn-auth:hover {
  background-color: #c00;
  color: #fff;
}

.header__btn-auth:nth-child(1) {
  margin-right: 1.5rem;
}

.header__user {
  font-size: 1.4rem;
  color: #fff;
  margin-right: 1rem;
}

.subheader {
  padding-top: 7rem;
}

.subheader__superior {
  background-color: #fff;
}

.subheader__menu,
.subheader__superior-content {
  width: 90rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 1.4rem;
}

.subheader__superior-content {
  -webkit-box-align: center;
          align-items: center;
}

.subheader__mid {
  background-color: #121212;
  width: 100%;
  height: 15rem;
}

.subheader__inferior {
  background-color: #fff;
}

.subheader__btn {
  background-color: #ff2d20;
  color: #fff;
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  margin-left: 1.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subheader__btn:hover {
  background-color: #c00;
}

.subheader__menu {
  padding: 0;
}

.subheader__menu a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-flex: 1;
          flex: 1;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  color: #282828;
  font-weight: 600;
}

.subheader__menu a:hover {
  background-color: #ccc;
}

.home__container {
  padding: 5rem 8rem;
  background-color: #1f1f1f;
}

.home__menu {
  width: 110rem;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  margin: 0 auto 5rem;
}

.home__menu a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-flex: 1;
          flex: 1;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem;
  font-size: 1.8rem;
  color: #282828;
  font-weight: 600;
}

.home__menu a:hover {
  background-color: #ccc;
}

.home__shop {
  display: -webkit-box;
  display: flex;
  width: 110rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.home__shop-col {
  width: 25%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.home__shop-item {
  background-color: #121212;
  height: 40rem;
}

.deal__container {
  padding: 5rem 8rem;
  background-color: #1f1f1f;
}

.deal__container-pub {
  padding: 0 1rem;
}

.deal__pub {
  background-color: #121212;
  width: 100%;
  height: 50rem;
  margin: 0 auto 3rem;
  width: 108rem;
}

.deal__shop {
  display: -webkit-box;
  display: flex;
  width: 110rem;
  flex-wrap: wrap;
  margin: 0 auto;
}

.deal__shop-col {
  width: 25%;
  margin-bottom: 2rem;
  padding: 1rem;
}

.deal__shop-item {
  background-color: #121212;
  height: 35rem;
}

.login {
  height: 100vh;
  width: 100%;
  background-image: url("/images/fondo.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 7rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.login__form {
  width: 30rem;
  margin-top: -15rem;
}

.login__input {
  width: 100%;
  padding: 1.1rem 1rem 1.1rem 1.3rem;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.login__btn-form {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: bold;
  background-color: #7c5cff;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  outline: none;
}

.login__btn-form:hover {
  background-color: #7656f3;
}

.login__title {
  color: #fff;
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
}

.login__alert {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
}

.register {
  height: 100vh;
  width: 100%;
  background-image: url("/images/fondo.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 7rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.register__form {
  width: 30rem;
  margin-top: -15rem;
}

.register__input {
  width: 100%;
  padding: 1.1rem 1rem 1.1rem 1.3rem;
  border: none;
  border-radius: 0.3rem;
  outline: none;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.register__btn-form {
  width: 100%;
  padding: 1rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: bold;
  background-color: #7c5cff;
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.register__btn-form:hover {
  background-color: #7656f3;
}

.register__title {
  color: #fff;
  font-size: 6rem;
  text-align: center;
  font-weight: bold;
}

.register__alert {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1.4rem;
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
}

.product {
  background-color: #121212;
  padding-top: 4rem;
}

.product__container {
  width: 90rem;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
}

.product__container-description {
  width: 90rem;
  margin: 0 auto;
}

.product__left {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 1.5rem;
}

.product__img-container {
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.product__img-container img {
  width: 100%;
}

.product__right {
  -webkit-box-flex: 1;
          flex: 1;
  padding: 1.5rem;
}

.product__description {
  color: #fff;
}

.product__description strong {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  display: block;
}

.product__description p {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.product__evaluation {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding-right: 5rem;
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.product__stars i {
  color: #c00;
}

.product__price {
  font-size: 1.4rem;
}

.product__price span {
  font-weight: bold;
}

.product__others {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
}

.product__other {
  border: 0.2rem solid #f1f1f1;
  border-radius: 0.3rem;
  overflow: hidden;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product__other img {
  width: 4rem;
  height: 4rem;
}

.product__other:hover {
  border: 0.2rem solid #1f1f1f;
}

.product__oplus {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.product__plus {
  border: 0.2rem solid #f1f1f1;
  border-radius: 0.3rem;
  overflow: hidden;
  margin-right: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.2rem;
}

.product__plus img {
  width: 4rem;
  height: 4rem;
}

.product__plus:active {
  border: 0.2rem solid #c00;
}

.product__options {
  background-color: #fff;
  display: -webkit-box;
  display: flex;
}

.product__options a {
  font-size: 1.4rem;
  -webkit-box-flex: 1;
          flex: 1;
  padding: 1rem 0;
  color: #282828;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product__options a:hover {
  background-color: #ccc;
}

.product__option-content {
  font-size: 1.4rem;
  color: #fff;
  padding: 1.5rem;
}

.product__option-content p {
  text-align: justify;
}

