
$color-background-1: #282828;
$color-background-2: #1f1f1f;
$color-background-3: #121212;
$color-b-1: #353c42;
$color-b-2: #272c30;
$color-b-3: #30363c;
$color-white-1: #fff;
$color-red-1: crimson;
$color-red-2: rgb(214, 39, 74);
$color-purple-1: #7c5cff;
$color-purple-2: #7656f3;