
$color-background-1: #282828;
$color-background-2: #1f1f1f;
$color-background-3: #121212;
$color-white-1: #fff;
$color-red-1: #c00;
$color-red-2: #ff2d20;
$color-purple-1: #7c5cff;
$color-purple-2: #7656f3;